body {background-image: url(allbg.gif);}
.dxrulenote span{border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;display: block;}
.cjxloading{background-color: #679C04;position: absolute;top: 10px;right: 10px;color: #FFF;padding: 3px;font-weight: bold;border: 1px solid #5E9500;}